<div class="row">
    <div class="main">
        <article>

          <%if(page.cover){%>
          <header class="post-header with-cover" style="background-image:url('<%- config.root+page.path+page.cover%>')" >
          <%}else{%>
          <header class="post-header">
          <%}%>
          </header>
          <h1 class="post-title"><%= page.title %></h1>

          <section class="post-info">
            <span class="post-date"><%- date(page.date, 'YYYY/MM/DD') %></span>
            <% if (page.categories && page.categories.length && theme.show_post_category){ %>
            <span class="post-category">
                <%- list_categories(page.categories, {
                  show_count: false,
                  class: 'article-category',
                  style: 'none',
                  separator: ' '
                }) %>
            </span>
            <% } %>
            <% if (page.tags && page.tags.length && theme.show_post_tags){ %>
            <span class="post-tags">
              <%- list_tags(page.tags, {
                show_count: false,
                class: 'post-tag'
              }) %>
            </span>
            <% } %>
          </section>
              <div class="author-info">
                  <% if(page.author_link) { %>
                  <a href="<%= page.author_link %>" target="_blank"><img class="img-circle" src="<%= page.author_img %>"></a>
                  <h5 class="author-title">posted by <a href="<%= page.author_link %>" target="_blank"><%= page.author %></a></h5>
                  <% } %>
                  <% if(!page.author_link) { %>
                  <img class="img-circle" src="<%= page.author_img %>"></a>
                  <h5 class="author-title">posted by <%= page.author %></h5>

                  <% } %>
              </div>

              <div class="Supporter Supporter--size-728x90">
                  <div>
                      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                      <!-- Post Ad -->
                      <ins class="adsbygoogle"
                           style="display:block"
                           data-ad-client="ca-pub-5631957611149324"
                           data-ad-slot="8317803492"
                           data-ad-format="auto"></ins>
                      <script>
                          (adsbygoogle = window.adsbygoogle || []).push({});
                      </script>
                  </div>
              </div>

          <section class="post-content">
              <form action="https://paypal.me/progblog" style="text-align: center; margin-bottom: 30px" method="post" target="_top">
                  <p>If this post helped you, please consider turning off your adblocker <br />or giving us all of your money.</p>
                  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>
              <!--<div class="fb-like" style="margin-top: 20px; margin-left: 27vw;" data-href="https://www.facebook.com/progblog.io" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>-->

              <%-page.content%>
          </section>
        </article>
        <% if (page.total > 1){ %>
        <div class="pagination">
            <%- paginator({
              prev_text: "« "+__('prev'),
              next_text: __('next')+" »"
            }) %>
        </div>
        <% } %>

       <% if (page.prev || page.next){ %>
        <div class="pager">
          <% if (page.prev){ %>
            <a class="post-prev pager-item" href="<%- url_for(page.prev.path) %>" >
              <strong class="article-nav-caption"><%= __('newer') %></strong>
              <p class="post-nav-title"><%= page.prev.title %></p>
            </a>
          <% } %>
          <% if (page.next){ %>
            <a class="post-next pager-item" href="<%- url_for(page.next.path) %>">
              <strong class="article-nav-caption"><%= __('older') %></strong>
              <p class="post-nav-title"><%= page.next.title %></p>
            </a>
          <% } %>
        </div>
        <% } %>

         <!-- comments -->
        <%- partial('partials/comments') %>

    </div>
    <aside>
        <div id="toc">
            <div id="sidebar-ad" class="Supporter Supporter--size-250x250">
                <div>
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- THE REal top right ********** -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:250px;height:250px"
                         data-ad-client="ca-pub-5631957611149324"
                         data-ad-slot="8703555490"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>
    </aside>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=747752418734492";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        var clipboard = new Clipboard('.btn');
        clipboard.on('success', function(e) {
            e.clearSelection();
            $(e.trigger)
                .popup({
                    on: "manual",
                    content: "Copied!",
                    exclusive: true,
                    position: 'top right',
                    variation: 'mini',
                    inline: true,
                    delay: {
                        show: 50,
                        hide: 0
                    }
                })
                .popup('show');

            setTimeout(function(){
                $(e.trigger)
                    .popup('hide');
            }, 500);
        });
        clipboard.on('error', function(e) {
            console.error('Action:', e.action);
            console.error('Trigger:', e.trigger);
        });

        var adBlockEnabled = false;
        var testAd = document.createElement('div');
        testAd.innerHTML = '&nbsp;';
        testAd.className = 'adsbox';
        document.body.appendChild(testAd);
        window.setTimeout(function() {
            if (testAd.offsetHeight === 0) {
                adBlockEnabled = true;
                document.getElementById('sidebar-ad').style.height = 0;
            }
            testAd.remove();
//            console.log('AdBlock Enabled? ', adBlockEnabled)
        }, 100);
    </script>
</div>
