<head>
    <meta name="google-site-verification" content="gZP7_zgFE_cU1s_mOLvBVYgx22grF_AJpUtJ7-7VPVk" />
        <meta charset="utf-8">
            <%
              var title = page.title;

              if (is_archive()){
                title = __('archive_a');

                if (is_month()){
                  title += ': ' + page.year + '/' + page.month;
                } else if (is_year()){
                  title += ': ' + page.year;
                }
              } else if (is_category()){
                title = __('category') + ': ' + page.category;
              } else if (is_tag()){
                title = __('tag') + ': ' + page.tag;
              }
              %>
            <title>
                <% if (title){ %><%= title %> | <% } %><%= config.title %>
            </title>
            <meta content="width=device-width, initial-scale=1" name="viewport">
            <% if (theme.rss){ %>
            <link href="<%- theme.rss %>" rel="alternate" title="<%= config.title %>" type="application/atom+xml"/>
            <% } %>
            <link rel="apple-touch-icon" sizes="57x57" href="<%- url_for('img/apple-icon-57x57.png') %>">
            <link rel="apple-touch-icon" sizes="60x60" href="<%- url_for('img/apple-icon-60x60.png') %>">
            <link rel="apple-touch-icon" sizes="72x72" href="<%- url_for('img/apple-icon-72x72.png') %>">
            <link rel="apple-touch-icon" sizes="76x76" href="<%- url_for('img/apple-icon-76x76.png') %>">
            <link rel="apple-touch-icon" sizes="114x114" href="<%- url_for('img/apple-icon-114x114.png') %>">
            <link rel="apple-touch-icon" sizes="120x120" href="<%- url_for('img/apple-icon-120x120.png') %>">
            <link rel="apple-touch-icon" sizes="144x144" href="<%- url_for('img/apple-icon-144x144.png') %>">
            <link rel="apple-touch-icon" sizes="152x152" href="<%- url_for('img/apple-icon-152x152.png') %>">
            <link rel="apple-touch-icon" sizes="180x180" href="<%- url_for('img/apple-icon-180x180.png') %>">
            <link rel="icon" type="image/png" sizes="192x192" href="<%- url_for('img/android-icon-192x192.png') %>">
            <link rel="icon" type="image/png" sizes="32x32" href="<%- url_for('img/favicon-32x32.png') %>">
            <link rel="icon" type="image/png" sizes="96x96" href="<%- url_for('img/favicon-96x96.png') %>">
            <link rel="icon" type="image/png" sizes="16x16" href="<%- url_for('img/favicon-16x16.png') %>">
            <link rel="manifest" href="<%- url_for('img/manifest.json') %>">
            <meta name="msapplication-TileColor" content="#559262">
            <meta name="msapplication-TileImage" content="<%- url_for('img/ms-icon-144x144.png') %>">
            <meta name="theme-color" content="#559262">

    <style type="text/css">
        #mc_embed_signup input.email {
            width: auto!important;
        }
        #mc_embed_signup{background:#fdfdfd; clear:left; width:100%;}
        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="<%- url_for('css/jquery.modal.min.css') %>" type="text/css" media="screen" />
    <%- css('css/highlight.light') %>
            <%- css('css/prism-customize') %>
            <%- css('css/nav-icon') %>
            <%- css('css/waves.min') %>
            <%- css('css/jquery.tocify') %>
            <%- css('css/main') %>
            <%- css('css/popup') %>
            <%- css('css/transition.min') %>
            <%- css('css/nav-indicator') %>
            <%- partial('analytics') %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
            <!--
            Include Jquery here instead of footer. Need to use it in index.ejs to append the banner to the homepage. It was saying jQuery not defined otherwise.
            -->
            <%- js('lib/jquery') %>
            <%- js('js/clipboard.min') %>
            <%- js('js/popup.min') %>
            <%- js('js/transition.min') %>
            </meta>
        </meta>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.8.0/jquery.modal.min.js" type="text/javascript" charset="utf-8"></script>
</head>
